.header{
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul > li{
    padding: 20px ;
    list-style: none;
    font-size: 20px;
}

.filter-btn{
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

.shimmer-filter-btn{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border: none;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    padding:10px 70px;
    justify-content: center;
    gap:30px;
}

.shimmer-res-container{
    display: flex;
    flex-wrap: wrap;
    padding:10px 70px;
    justify-content: center;
    gap:30px;
}



.res-card{
    width: 250px;
    height: 350px;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.452); */
    border-radius: 10px;
    overflow: hidden;
}

.shimmer-res-card{
    width: 250px;
    height: 350px;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.452); */
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.card-img-container{
    height: 55%;
    overflow: hidden;
}

.shimmer-card-img-container{
    height: 55%;
    overflow: hidden;
    background-color: rgb(212, 211, 211);
}

.res-card-img{
    width: 100%;
}

h3,h4,h5{
    padding:0px 10px;
}

h4 > span {
    padding-left: 25px;
}

.res-card {
    opacity: 0;
    animation: fadeInAnimation 0.4s ease-in-out forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  